[submodule ".registry"]
	path = .registry
	url = https://github.com/scar/scar.r-universe.dev
	branch = HEAD
[submodule "QPress"]
	path = QPress
	url = https://github.com/swotherspoon/QPress
[submodule "SOmap"]
	path = SOmap
	url = https://github.com/AustralianAntarcticDivision/SOmap
[submodule "antanym"]
	path = antanym
	url = https://github.com/ropensci/antanym
[submodule "availability"]
	path = availability
	url = https://github.com/AustralianAntarcticDivision/availability
[submodule "blueant"]
	path = blueant
	url = https://github.com/AustralianAntarcticDivision/blueant
[submodule "bowerbird"]
	path = bowerbird
	url = https://github.com/ropensci/bowerbird
	registered = false
[submodule "fastrls"]
	path = fastrls
	url = https://github.com/AustralianAntarcticDivision/fastrls
	registered = false
[submodule "fs"]
	path = fs
	url = https://github.com/r-lib/fs
	registered = false
[submodule "mapppdr"]
	path = mapppdr
	url = https://github.com/CCheCastaldo/mapppdr
[submodule "quantarcticR"]
	path = quantarcticR
	url = https://github.com/SCAR/quantarcticR
[submodule "raadfiles"]
	path = raadfiles
	url = https://github.com/AustralianAntarcticDivision/raadfiles
[submodule "raadtools"]
	path = raadtools
	url = https://github.com/AustralianAntarcticDivision/raadtools
[submodule "sohungry"]
	path = sohungry
	url = https://github.com/SCAR/sohungry
[submodule "solong"]
	path = solong
	url = https://github.com/SCAR/solong
