[submodule ".registry"]
	path = .registry
	url = https://github.com/scar/universe
	shallow = true
	branch = HEAD
[submodule "sohungry"]
	path = sohungry
	url = https://github.com/SCAR/sohungry
	shallow = true
	registered = true
[submodule "solong"]
	path = solong
	url = https://github.com/SCAR/solong
	shallow = true
	registered = true
